<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test_name_title</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main_css.css') }}">
</head>
<body>
    <div id="main_header">    <!--page -->
        <header>
            <div id="logo">
                <a href="/"><img src="{{ url_for('static', filename='img/main_img2.png') }}" width="250" height="150"  alt="Logo"></a>
            </div>
            {% if g.user %}
            <div id="user_sys">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
                        <a href="/question/list/">고객 센터</a> |
                        <a href="/item/my_item/">장바구니</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div id="user_sys">
                <a href="{{ url_for('auth.login') }}">로그인</a> |
                <a href="{{ url_for('auth.signup') }}">회원가입</a> |
                <a href="/question/list/">고객 센터</a> |
                <a href="{{ url_for('auth.login') }}">장바구니</a>
            </div>
            {% endif %}
            <nav>
                <hr/>
                <ul>
                    <li><a href="/domestic/seoul/" target="_parent"> 국내 여행 </a></li>
                    <li><a href="/overseas/japan/" target="_parent"> 해외 여행 </a></li>
                    <li><a href="/video/play_video/"> 여행 영상 </a></li>
                    <li><a href="/product/product1/"> 여행 상품 </a></li>
                    <li><a href="/necessities/necessities_product/" target="_parent"> 여행 필수품 </a></li>
                    <li></li>
                </ul>
                <hr/>
            </nav>
        </header>
        <div id="main_play">
            <iframe width="1000" height="700" src="https://www.youtube.com/embed/YM_4shi_fsk" sandbox="allow-forms allow-scripts allow-same-origin"></iframe>
        </div>
    </div>
</body>
</html>