<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test_name_title</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main_css.css') }}">
</head>
<body>
    <div id="main_header">    <!--page -->
        <header>
            <div id="logo">
                <a href="/"><img src="{{ url_for('static', filename='img/main_img2.png') }}" width="250" height="150"  alt="Logo"></a>
            </div>
            {% if g.user %}
            <div id="user_sys">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ g.user.username }} (로그아웃)</a>
                        <a href="/question/list/">고객 센터</a> |
                        <a href="/item/my_item/">장바구니</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div id="user_sys">
                <a href="{{ url_for('auth.login') }}">로그인</a> |
                <a href="{{ url_for('auth.signup') }}">회원가입</a> |
                <a href="/question/list/">고객 센터</a> |
                <a href="{{ url_for('auth.login') }}">장바구니</a>
            </div>
            {% endif %}
            <nav>
                <hr/>
                <ul>
                    <li><a href="/domestic/seoul/" target="_parent"> 국내 여행 </a></li>
                    <li><a href="/overseas/japan/" target="_parent"> 해외 여행 </a></li>
                    <li><a href="/video/play_video/"> 여행 영상 </a></li>
                    <li><a href="/product/product1/"> 여행 상품 </a></li>
                    <li><a href="/necessities/necessities_product/" target="_parent"> 여행 필수품 </a></li>
                    <li></li>
                </ul>
                <hr/>
            </nav>
        </header>
        <aside id="left">
            <h3>카테고리 </h3>
            <ul>
                <li><a href="/overseas/japan/">일본</a></li>
                <li><a href="/overseas/us/">미국</a></li>
                <li><a href="/overseas/uk/">영국</a></li>
                <li><a href="/overseas/germany/">독일</a> </li>
                <li><a href="/overseas/vietnam/">베트남</a></li>
            </ul>
            <div id="main_img" title="일본 여행 상품 보러 가기">
                <a href="/product/product2/"><img src="{{ url_for('static', filename='img/japan.jpg') }}" width="1100" height="550" alt="My Image"></a>
                <p>일본은 태평양에 위치한 동아시아의 섬나라이다. 대한민국, 조선민주주의인민공화국, 중화인민공화국, 러시아에 접한 동해 동쪽에 위치해 있다. 일본의 국호는 한자로 '태양이 떠오르는 곳'이라는 의미이다. 일본 열도는 6,852개의 섬으로 이루어져 있다.</p>
            </div>     
        </aside>
    </div>
</body>
</html>